<h1>My Tasks!</h1>

<h1>My Projects</h1>

<h1>Current Projects</h1>
<%Project.all.each do |proj|%>
	<h3><%=proj.name%></h3>
	<% proj.tasks.each do |task|%>
		<h4><%=task.role%></h4>
		<%if !task.filled%>
			<h3><a href='/projects/<%="#{proj.id}"%>/tasks/<%="#{task.id}"%>/edit'><button class='button-green'>Pick Up Task</button></a></h3>
		<%end%>
	<%end%>
<%end%>
