<table id = "task-table" style="width:30%">
	<tr id="headers" id = i hidden>
		<th>Task</th>
		<th>User</th> 
		<th>Action</th>
		<%if delete_privelage%>
			<th>Delete Task?</th>
		<%end%>
	</tr>


</table>