	<tr>
		<td class="taskName">taskName</td>
			<td class="pickUp">taskName</td>
			<td class="pickUpButton">taskName</td>
			<td class="creator">taskName</td>
			<td class="dropButton">taskName</td>
			<th class = "delete">taskName</th>		
	</tr>