<h1><%=@project.name%></h1>
<%= render partial: "projects/table", locals: {proj: @project, delete_privelage: true} %>
<h3><a href='/projects/<%="#{@project.id}"%>/tasks/new'><button class='button-green'>Add Tasks</button></a></h3><br>
<h3><a data-confirm="You sure you want to delete this task?" rel="nofollow" data-method="delete" href='/projects'><button class='button-green'>Delete Project</button></a></h3>
